<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="CSS/CalendarStyle.css">
        <script src="js/scriptCalMonthChange.js"></script>
        <title>Calendar</title>
    </head>
    <body>
        <h1>xxxx년 xx 월 xx 일</h1>
        <h1>Medicine</h1>   <!-- 약 이름 -->
        <h2>xxxx . xx . xx ~ xxxx . xx . xx  (x일)</h2>
        <h2>하루 몇번 언제... 출력</h2>
        <button type="button" onclick="location.href='calendar.html'">달력으로 돌아가기</button>
    </body>
</html>